@import "bootstrap";
@import "font-awesome";
@import "simplemde.css";
@import "datepicker";

.vertical-center {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

body {
    padding-bottom: 2rem;
}

.excerpt .CodeMirror {
    height: 150px;
    min-height: 150px;
}